# Yocto upstream layers (cloned by setup script)
poky/
meta-raspberrypi/
meta-openembedded/

# Build output
build/
build-zero2w/

# Large caches
downloads/
sstate-cache/

# Images
*.wic
*.wic.bz2
*.wic.gz
*.bmap
*.sdimg

# Editor
*.swp
*.swo
*~
.vscode/

# OS
.DS_Store
Thumbs.db
