[Unit]
Description=Tailscale node agent
Documentation=https://tailscale.com/kb/
Wants=network-online.target
After=network-online.target NetworkManager-wait-online.service

[Service]
ExecStartPre=/bin/mkdir -p /data/tailscale
ExecStart=/usr/bin/tailscaled --state=/data/tailscale/tailscaled.state --socket=/run/tailscale/tailscaled.sock --port 41641
Restart=on-failure
RestartSec=5
RuntimeDirectory=tailscale

[Install]
WantedBy=multi-user.target
