# SWUpdate configuration for Home Monitor OS
globals: {
    verbose = true;
    loglevel = 3;
    syslog = false;
    no-downgrading = false;
};

identify: (
    { name = "home-monitor"; value = "1.0.0"; }
);
